<h1>Videogames</h1>
<table class="table table-stripped">
  <tbody>
    {{#each videogames}}
    <tr>
      <td>{{id}}</td>
      <td>{{manufacturer}}</td>
      <td>{{model}}</td>
      <td><a href="/videogames/{{id}}" class="btn btn-primary">Show</a></td>
      <td><a href="/videogames/{{id}}/edit" class="btn btn-secondary">Edit</a></td>
     
      <form method="POST" action="/videogames/{{id}}?_method=DELETE">
      <td><input type="submit" value="Delete" class="btn btn-danger"/></td>
      </form>
    </tr>
    {{/each}}
  </tbody>
</table>